// <----------------------- Group Chat ------------------------>
.group-chat-section {
  margin: 10px;
  width: 89vw;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  height: 75vh;

  .header-section {
    padding: 10px 20px;
    border-bottom: 1px solid black;

    p {
      margin: 0;
      align-self: stretch;
      color: var(--gray-900, #101828);
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
    }
  }

  .all-messages-section {
    padding: 20px 20px;
    height: 65vh;
    overflow-y: scroll;

    .message-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20px;

      .message {
        display: flex;
        justify-content: start;
        align-items: start;
        width: 100%;
        margin-bottom: 15px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 10px;
        }

        .message-body {
          max-width: 50vw;

          p {
            margin: 0;
          }

          .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .name {
              margin-right: 40px;
            }

            .time {
            }
          }

          .text {
            background-color: #f2f4f7;
            display: flex;
            padding: 5px 14px;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            border: 1px solid #e4e7eb;
            border-radius: 0 10px 10px 10px;
          }
        }
      }

      .own-message {
        display: flex;
        justify-content: end;
        align-items: start;
        width: 100%;
        margin-bottom: 15px;

        .message-body {
          max-width: 50vw;

          p {
            margin: 0;
          }

          .header {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .time {
            }
          }

          .text {
            background: #5388f2;
            display: flex;
            padding: 10px 14px;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            border-radius: 8px 0px 8px 8px;
            color: white;
          }
        }
      }
    }
  }
}
