$title-color: #111928;
$sub-title-color: #6b7280;
$save-btn-color: #1c64f2;

%save-btn {
  background-color: $save-btn-color;
  color: white;
}

.primary-user-info-box {
  display: flex;
  align-items: center;
  width: 90vw; // TODO: remove this line

  img {
    width: 112px;
    height: 112px;
    border: 1px solid #ccc;
    border-radius: 5%;
    margin-right: 20px;
  }

  .header-box {
    line-height: 0cap;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .title-box {
    height: 85px;
  }
}

.language-time-section {
  margin-top: 20px;
  margin-bottom: 30px;

  .language-section {
    .language-title {
      color: $title-color;
      margin: 0;
    }

    input {
      margin-top: 5px;
      padding: 9px;
      border: 1px solid #d1d5db;
      border-radius: 8px;
      width: 100%;
      background-color: #f9fafb;
    }
  }

  .save-btn {
    @extend %save-btn;
  }
}

.social-section {
  margin-top: 50px;
  margin-bottom: 30px;

  .account-box {
    .per-account-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px, 0px, 16px, 0px;

      .header-box {
        display: flex;
        align-items: center;

        .icon {
          margin-right: 20px;
        }

        .title-box {
          p {
            margin: 0;
          }

          .link {
            color: $save-btn-color;
            font-size: 14px;
          }

          .no-link {
            color: $sub-title-color;
            font-size: 14px;
          }
        }
      }

      .not-connected-box {
        button {
          background-color: $save-btn-color;
          color: white;
        }
      }
    }
  }

  .save-btn {
    @extend %save-btn;
  }
}

.general-info-section {
  .all-input-container {
    display: flex;
    align-items: center;

    .first-part {
      text-align: start;
      width: 100%;
      padding-right: 2%;
      .input-container {
        .title {
          color: $title-color;
          margin: 0;
          padding-bottom: 5px;
        }

        input {
          margin-bottom: 15px;
          padding: 9px 20px;
          border: 1px solid #d1d5db;
          border-radius: 8px;
          width: 100%;
          background-color: #f9fafb;
        }
      }
    }

    .second-part {
      text-align: start;
      width: 100%;
      padding-left: 2%;
      .input-container {
        .title {
          color: $title-color;
          margin: 0;
          padding-bottom: 5px;
        }

        input {
          margin-bottom: 15px;
          padding: 9px 20px;
          border: 1px solid #d1d5db;
          border-radius: 8px;
          width: 100%;
          background-color: #f9fafb;
        }
      }
    }
  }

  .save-btn {
    @extend %save-btn;
  }
}
