$title-color: #111928;
$sub-title-color: #6b7280;

.primary-user-info-box {
  display: flex;
  align-items: center;
  width: 90vw; // TODO: remove this line

  img {
    width: 112px;
    height: 112px;
    border: 1px solid #ccc;
    border-radius: 5%;
    margin-right: 20px;
  }

  .header-box {
    line-height: 0cap;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .title-box {
    height: 85px;
  }
}

.language-time-section {
  margin-top: 20px;
  margin-bottom: 20px;

  .language-section {
    .language-title {
      color: $title-color;
      margin: 0;
    }

    input {
      margin-top: 5px;
      padding: 9px;
      border: 1px solid #d1d5db;
      border-radius: 8px;
      width: 100%;
      background-color: #f9fafb;
    }
  }
  .save-btn {
    background-color: #1c64f2;
    color: white;
  }
}
