.class-half-details {
  width: 92vw;
  max-width: 92vw;
  border: 1px solid #ababab;
  border-radius: 10px 10px 10px 10px;

  background-color: #ff8b66;
  .header {
    height: 70px;
    color: white;
    padding-left: 20px;
    line-height: 15px;
  }

  .icons-box {
    background-color: white;
    height: 80px;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    border-radius: 0 0 10px 10px;
    border: 1px solid white;
    padding-bottom: 10px;
  }
}
